<p>List of Entries</p>

<ul class='list_entries_container'>
    <% @entries.each do |entry| %>
        <li id='list_item_<%= entry.id %>' class='list_item'>
            <div class='entry_info'>
               <div class='t_details'>
                    <span class='t_id'><%= entry.id %> </span>
                    <a href='/entries/get/<%= entry.id %>'>
                        view
                    </a>
               </div>
               <div class='t_controls'>
                    <span id='<%= entry.id %>' class='delete_entry'><a href='#'>Delete</a></span>
                    <span id='<%= entry.id %>' class='edit_entry'><a href='#'>Edit</a></span>
               </div>
            </div>
        </li>
    <% end %>
</ul>
