<p>/entries/table_format.html.erb

<table id='<%= @template.id %>' class='t_table'>
  
  <% @entry.fieldValues.each do |fieldValue| %>
    <% if fieldValue.field != nil %>
    <tr id='<%= fieldValue.field.id %>' class='t_field_row'>
       <td class='label_cell'>
          <%= fieldValue.field.label %>
       </td>
       <td class='input_cell'>
          <% if fieldValue.field != nil %>
          <div id='<%= fieldValue.field.id %>' class='field_input'>
            <%= render :partial=>"fields/#{fieldValue.field[:fieldtype]}", 
                :locals=>{:field=>fieldValue.field, :fieldValue=>fieldValue, :context=>@context}  %>
          </div>
          <% end %>
       </td>
    </tr>
  <% end %>


  <% end %>



</table>


    
