
<table id='<%= template.id %>' class='t_table'>
  <% template.fields.each do |field| %>
    <tr id='<%= field.id %>' class='t_field_row'>
       <td class='label_cell'>
          <%= field.label %>
       </td>
       <td class='input_cell'>
          <div id='<%= field.id %>' class='field_input'>
            <%= render :partial=>"fields/#{field[:fieldtype]}", :locals=>{:context=>{:mode=>@mode}, :field=>field, :fieldValues=>@fieldValues}  %>
          </div>
       </td>
    </tr>
  


  <% end %>



</table>

<div class='template_actions'>

  <a href='<%= @saveUrl %>' class='save_entry_button' data-template_id=<%= template.id %> data-entry_id=0 id='<%= @saveUrl %>'>Save</a>
</div>

