
<div id='block_container_<%= @block.id %>' class='block_container'>

  <div class='block_title'>
    <%= @block.template.name %>s
  </div>  
  <div id='editor_wrapper'>
      <div class='template_container'></div>
  </div>


  <div class='block_actions_bottom' style='display:none'>
    <div id=<%= @block.id %> class='save_entry_to_list_button save_button'>Save</div>
  </div>


 <div class='list_actions'>
  <a href='/templates/get/<%= context[:item_type_id] %>?view_type=list_full&list_id=<%= @block.template_id %>&entry_id=0' class='add_list_item'>Add to List
    </a>
  </div>


 <div id='list_items_<%= @block.template_id %>'  class='list_items'>

    <%= getListHtml(@entries, context).html_safe %>
  </div>


</div>
