
<div id='block-container-<%= @block[:id] %>' class='block_container'>
    <div class='block_title'><%= @block[:name] %>s</div>
   <div class='list_actions'>
     <a href='/templates/get/<%= context[:item_type_id] %>?view_type=list_title&list_id=<%= @block[:template_id] %>&entry_id=0' class='add_list_item'>Add to List
         </a>
   </div>

  <div id='list_items_<%= @block[:template_id] %>'  class='list_items'>


      <%= getListHtml(@entries, context).html_safe %>
  </div>


</div>
