<script>
  $(document).ready(function() {
    console.log("This is the javascript embedded in boards/get.html.erb"); 
    var boardContainer = $('.board-container'); 
    boardContainer.data("main_entry_id", <%= @mainEntryId %>); 
    boardContainer.data("main_block_id", <%= @mainBlockId %>); 
    boardContainer.data("block_ids", [<%= @blockIds %>]); 
    //var boardContext = {}; 
    //boardContext['main_block_id'] = <%= @mainBlockId %>; 
    //boardContext['main_entry_id'] = 0; 
  }); 

</script>


<div id='<%= @board.id %>' class='board-container'>

   <% @board.blocks.each do |block| %>
       <div class='block_title'><%= @board.name %> <%= block.template.name %>s(<%= block.template_id %> <%= block.view_type %>)</div>
       <%= block['blockHtml'].html_safe  %> 


   <% end %>


</div>
