<div class='t_list_actions'>
  <a href='/lists/newItem/<%= field[:list_descriptor_id] %>?p_template_id=<%= @template.id %>&&p_field_id=<%= field[:id] %>' 
     id='<%= field[:list_descriptor_id] %>_<%= field[:id] %>' 
     class='add_list_item'>Add to List
  </a>
</div>

<div class='list_items'>
  <% if context[:mode] == 'display' %>


  <% else %>

  <% end %>
</div>



