
<div class='t-value' style="visibility:<%= context[:value_visibility] %>">
  <%= property[:value] %>
</div>
<div id=<%= "#{property[:entry_id]}_#{property[:entry_type_id]}_#{property[:id]}" %> 
    class="t-input" style="visiblity:<%= context[:input_visibility] %>">
      <textarea id='0' class='t-property t-longtext' value="<%= property[:value] %>"></textarea>
</div>
