        
    <% if context[:mode] == 'display' %>
           <a href='<%= fieldValue[:value] %>' id=''><%= fieldValue[:value] %></a>
        <% else %>
           <input id=<%= field.id %> class='form_field t_url' type='text'></input>
    <% end %>

    <div class='field_metadata' style='display:none'>
    <div class='md_label'>
        Name
    </div>
    <div class='md_input'>
        <% if context[:mode] == 'display' %>
           <%= fieldValue.metadata[:name] %>
        <% else %>
            <input id=<%= field.id %>_name class='form_field' type='text'></input>
        <% end %>
    </div>
    
    <div class='md_label'>
        Description
    </div>
   
    <div class='md_input'>
        <% if context[:mode]=='display' %>
            <% fieldValue.metadata[:description] %>
        <% else %>
            <input id=<%= field.id %>_description class='form_field' type='text'></input>
        <% end %>
    </div>

    </div>
