<!DOCTYPE html>
<html>
<head>
  <title>wzm</title>
  <%= stylesheet_link_tag "bootstrap", :media => "screen" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css", :media=>'screen'  %>
  <%= stylesheet_link_tag "application", :media=>'screen' %>
  <!--
  <%= stylesheet_link_tag 'main', :media => 'screen' %>
  <%= stylesheet_link_tag 'jquery_controls', :media => 'screen' %>
   -->

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js" %>
  <%= javascript_include_tag "base" %>
  <%= javascript_include_tag "jquery_ui_controls" %>
  <%= javascript_include_tag "templates" %>
  <%= javascript_include_tag "entries" %>
  <%= javascript_include_tag "blocks" %>
  <%= javascript_include_tag "boards" %>
  <%= javascript_include_tag "topics" %>

  <%= csrf_meta_tags %>
</head>


<body>

  <div id="header"">
      <div id="logo">
        Beejii
      </div>
      <div id="views">
        <%= render "shared/header_content" %>
      </div>
  </div>

  <div id="main_content_container" class="content">
    	<%= yield %>
  </div>


</body>
</html>
